.input {
  padding: 1em 0;
  font-family: inherit;
  border: none;
  border-bottom: var(--border-width) solid var(--secondary-color);
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
    color: var(--primary-color);
    border-color: var(--primary-color);

    &::placeholder {
      color: var(--primary-color);
    }
  }
}
