.form-wrapper {
  flex-grow: 1;
  display: flex;

  form {
    justify-content: space-between;
  }

  .vanila-input {
    visibility: hidden;
    position: absolute;
  }

  label {
    width: fit-content;
    padding: 1em;
    display: block;
    border: var(--border-width) solid var(--primary-color);
    cursor: pointer;
  }
}
