.even,
.odd {
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2em;

  .file-stats {
    width: 100%;
    .file-name {
      margin-bottom: 1em;
    }
  }

  .button-wrapper {
    display: flex;
    gap: 1em;
  }
}

.even {
  background-color: var(--secondary-color);
}
